@import url("https://fonts.googleapis.com/css?family=Open+Sans|Monoton|Permanent+Marker");

body {
  overflow-x: hidden;
  max-width: 100vw;
  font-family: "Open Sans", cursive;
}

table {
  width: 100%;
  border-collapse: collapse;
}
/* Zebra striping */
tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td,
th {
  padding: 15px;
  text-align: left;
}

.headerImage {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
}

.upcoming-match {
  padding: 300px 0 100px;
  text-align: center;
}

.upcoming-match ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.upcoming-match li {
  padding: 0 1em;
}

h1 {
  font-size: 8vh;
  color: white;
  max-width: 60vw;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-top: 8rem;
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: "Home team";
  }
  td:nth-of-type(2):before {
    content: "Away team";
  }
  td:nth-of-type(3):before {
    content: "Date";
  }
}

.left-section {
  width: 65vw;
  display: flex;
  flex-direction: column;
}
.right-section {
  width: 35vw;
  display: flex;
  flex-direction: column;
}

section.content {
  display: flex;
  flex-direction: row;
}

.team-overview {
  text-align: center;
}

.team-overview h1 {
  color: black;
  /* margin-top: 1em; */
}

.team-overview img {
  margin: 9vh auto 0;
  display: block;
  width: 13vw;
}
