@import url("https://fonts.googleapis.com/css?family=Open+Sans|Monoton|Permanent+Marker");

body {
  overflow-x: hidden;
  max-width: 100vw;
  font-family: "Open Sans", cursive;
  margin: 0;
  padding: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}
.standings tr:nth-of-type(odd) {
  background: #eee;
}
th {
  background: #333;
  color: white;
  font-weight: bold;
}
td,
th {
  padding: 15px;
  text-align: left;
}

.upcoming-match {
  padding: 35px 0 35px;
  text-align: center;
  background-color: #efefef;
  width: 69vw;
  margin: 0 auto 50px;
  clip-path: polygon(0% 0, 90% 0%, 100% 100%, 10% 100%);
}

.upcoming-match ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.upcoming-match li {
  padding: 0 1em;
}

.nextmatch-teams li a {
  text-decoration: none;
  color: white;
}

.teams li {
  padding: 1em;
}

.teams li:first-child {
  background-color: turquoise;
}
.nextmatch-teams {
  padding: 0;
}
.nextmatch-teams li:first-child {
  background-color: tomato;
  position: relative;
  padding-right: 75px;
}
.nextmatch-teams li:first-child:after {
  content: "VS";
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  background-color: purple;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.nextmatch-teams li:last-child {
  background-color: palevioletred;
}
.standings tr td {
  font-size: 90%;
}
.standings tr td:first-of-type {
  text-align: center;
}

.standings tr td:nth-child(3),
.standings tr td:nth-child(4),
.standings tr td:nth-child(5),
.standings tr td:nth-child(6),
.standings tr td:nth-child(7),
.standings tr td:nth-child(8),
.standings tr td:nth-child(9) {
  text-align: center;
}

.standings tr td:nth-child(2) a {
  color: black;
  text-decoration: none;
}

.standings tr {
  border-bottom: 0.5px solid #ffffff78;
}

.left-section thead th,
.right-section thead th {
  background-color: #f9f9f9;
  color: #3a3a3a;
}

.right-section thead th {
  text-align: center;
}
.standings tr:nth-child(1) td {
  font-weight: 900;
  font-size: 95%;
}

.standings tr:nth-child(1),
.standings tr:nth-child(2),
.standings tr:nth-child(3),
.standings tr:nth-child(4) {
  background-color: aquamarine;
}
.standings tr:nth-child(5),
.standings tr:nth-child(6) {
  background-color: darkorange;
}

.standings tr:nth-child(7) {
  background-color: orange;
}

/* .schedule tr td:nth-child(2) {
  background-color: palevioletred;
} */

.schedule tr {
  background-color: peachpuff;
  text-align: center;
}

.schedule tr td {
  transition: 0.3s ease-in-out;
  text-align: center;
}
.schedule tr td:first-child {
  background-color: tomato;
  position: relative;
}

.schedule tr td:first-child:after {
  content: "VS";
  position: absolute;
  top: 0;
  right: -20px;
  width: 50px;
  height: 100%;
  background-color: purple;
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.schedule tr td:nth-child(2) {
  background-color: palevioletred;
}

.schedule tr td:hover {
  background-color: paleturquoise;
}

.schedule tr td a {
  color: white;
  text-decoration: none;
}
h1 {
  font-size: 3vw;
  color: white;
  max-width: 60vw;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 8rem;
  padding: 1.5em;
  text-transform: uppercase;
  background-color: black;
  clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0 100%);
}

@media only screen and (max-width: 760px),
  (min-device-width: 768px) and (max-device-width: 1024px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  td:before {
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:nth-of-type(1):before {
    content: "Home team";
  }
  td:nth-of-type(2):before {
    content: "Away team";
  }
  td:nth-of-type(3):before {
    content: "Date";
  }
}

.left-section {
  width: 50vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.right-section {
  width: 30vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

section.content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  box-sizing: border-box;
}

.team-overview {
  text-align: center;
}

.team-overview h1 {
  position: absolute;
  width: 50vw;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.team-overview img {
  margin: 9vh auto 0;
  display: block;
  width: 13vw;
}

.team-overview .wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 100vw;
  text-align: left;
}

.wrapper .information {
  background-color: tomato;
  margin: 2em 0;
  padding: 2em;
  color: white;
  width: 30vw;
}

.wrapper .standing {
  background-color: #efefef;
  margin: 2em 0;
  padding: 2em;
  color: #3a3a3a;
  width: 30vw;
}

.team-overview a {
  text-align: center;
  width: 15vw;
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 0.5em 2em;
  margin: 0 auto;
  display: block;
  margin-top: -45px;
  z-index: 2000;
  margin-bottom: 150px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0 100%);
  transition: 0.3s ease-in-out;
}

.team-overview a:hover {
  clip-path: polygon(0% 0, 90% 0%, 100% 100%, 10% 100%);
}

.headerImage {
  max-height: 400px;
}

.headerImage img:nth-child(2) {
  display: none;
}

.error {
  text-align: center;
}

.loading h1 {
  animation: clip-path-animation 5s linear infinite;
}

@keyframes clip-path-animation {
  0% {
    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0 100%);
  }
  50% {
    clip-path: polygon(0% 0, 90% 0%, 100% 100%, 10% 100%);
  }
  100% {
    clip-path: polygon(10% 0, 100% 0%, 90% 100%, 0 100%);
  }
}
